.wrap-img {
    width: 100%;

    img {
        width: 100%;
    }
}

.header-footer {

    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    a {
        color: #262626;
        text-decoration: none;
    }

}